/*
Error: Invalid CSS after "@import "reset"": expected "{", was ";"
        on line 3 of style.scss

1: ---
2: ---
3: @import "reset";
4: @import "variables";
5: 
6: //layout
7: html {
8:     @include theme-prop(color, text-color);

Backtrace:
style.scss:3
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Users/user/.local/share/gem/ruby/3.1.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Users/user/AppData/Local/Microsoft/WindowsApps/sass:25:in `load'
C:/Users/user/AppData/Local/Microsoft/WindowsApps/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"@import \"reset\"\": expected \"{\", was \";\"\A         on line 3 of style.scss\A \A 1: ---\A 2: ---\A 3: @import \"reset\";\A 4: @import \"variables\";\A 5: \A 6: //layout\A 7: html {\A 8:     @include theme-prop(color, text-color);"; }
