---
---
@import "reset";
@import "variables";

//layout
html {
    @include theme-prop(color, text-color);
}
body {
    @include theme-prop(background, bg-color);
}
.wrap {
    padding: 0 36px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    &-logo {
        font-weight: 700;
        font-size: 18px;
    }
    .mode {
        @include on-off;
        .btn {
            font-size: 14px;
        }
    }
}
.main {
    display: flex;
    gap: 36px;
    .tags {
        width: 200px;
        @include flex-title-gap;
        &-tit {
            @include title-text;
        }
    }
    .content {
        flex: 1;
        @include flex-paragraph-gap;
        .search {
            width: 100%;
        }
    }
    .profile {
        width: 200px;
        @include flex-paragraph-gap;
    }
}
.line {
    width: 100%;
    height: 1px;
    @include theme-prop(background, disabled-color);
    margin: 12px 0 24px;
}

//tags
.tag {
    &-link {
        display: block;
        padding: 8px 10px;
        border-radius: 8px;
        &.on {
            @include theme-prop(background, bg-point-color);
        }
    }
}

//content
.search {
    @include flex-title-gap;
    &-tit {
        @include title-text;
    }
    &-input {
        input {
            @include theme-prop(background, bg-point-color);
            padding: 12px 16px;
            width: 100%;
            border-radius: 8px;
        }
    }
}

.posts {
    @include flex-title-gap;
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &-tit {
        @include title-text;
    }
    &-sort {
        @include on-off;
    }
}
.post {
    @include theme-prop(background, bg-point-color);
    padding: 24px 20px;
    @include flex-title-gap;
    border-radius: 8px;
    &-tit {
        @include title-text;
    }
    &-title {
        @include title-text;
        font-size: 28px;
    }
    &-date {
        font-size: 14px;
    }
    &-tags {
        display: flex;
        gap: 4px;
    }
    &-tag {
        @include theme-prop(background, chip-color);
        border-radius: 4px;
        padding: 6px 4px;
        font-size: 14px;
    }
}
div.highlighter-rouge {
    @include theme-prop(background, bg-color);
    border-radius: 16px;
    padding: 32px;
}
code.highlighter-rouge {
    background: rgba(135, 131, 120, .15);
    color: #EB5757;
    border-radius: 4px;
    font-size: 85%;
    padding: 0.2em 0.4em;
    position: relative;
    bottom: 0.065em;
    font-weight: 600;
}

//profile
.prfl {
    @include flex-title-gap;
    &-tit {
        @include title-text;
    }
    &-img {
        width: 100%;
        height: 280px;
        @include theme-prop(background, bg-point-color);
        border-radius: 8px;
    }
}
.lnk {
    @include flex-title-gap;
    &-tit {
        @include title-text;
    }
    &-wrap {
        width: 100%;
        height: 280px;
        @include theme-prop(background, bg-point-color);
        border-radius: 8px;
    }
}