<section class="search">
    <h4 class="search-tit sr-only">검색</h4>
    <div class="search-input">
        <svg class="search-icon" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input type="text" placeholder="검색어를 입력해주세요..." aria-label="블로그 검색">
    </div>
</section>