---
layout: page
---

<article class="post">
    <header class="post-header">
        {% if page.tags.size > 0 %}
        <div class="post-tags">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}

        <h1 class="post-title">{{ page.title }}</h1>

        <time class="post-date" datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {{ page.date | date: "%Y년 %m월 %d일" }}
        </time>
    </header>

    <div class="line"></div>

    <div class="post-content">
        {{ content }}
    </div>
</article>

{% if site.related_posts.size > 0 %}
<section class="related">
    <h2 class="related-tit">관련 게시글</h2>
    <div class="posts-grid">
        {% for post in site.related_posts limit:3 %}
        <article class="post">
            <h3 class="post-tit">
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h3>
            <time class="post-date" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                {{ post.date | date: "%Y년 %m월 %d일" }}
            </time>
        </article>
        {% endfor %}
    </div>
</section>
{% endif %}
